 .u-section-1 {
  filter: none;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/IMG_1201_upscaled.png");
}

.u-section-1 .u-sheet-1 {
  min-height: 829px;
}

.u-section-1 .u-text-1 {
  text-shadow: 0px 0px 8px rgba(102,102,102,1);
  font-weight: 700;
  font-size: 3rem;
  width: 374px;
  margin: 713px auto 0;
}

.u-section-1 .u-text-2 {
  text-shadow: 0px 0px 8px rgba(102,102,102,1);
  font-weight: 700;
  font-size: 3rem;
  width: 389px;
  margin: 1px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 821px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-1 .u-text-2 {
    margin-bottom: 60px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 748px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 688px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.5rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.5rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2rem;
    width: 340px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2rem;
    width: 340px;
  }
}